*{
    padding: 0px;
    margin: 0px;
}
/* PARTE DEL NAV */
nav{
    background-color: rgb(255, 132, 132);
    text-align: center;
    padding-bottom: 20px;
    border: solid #BC4749 2px;
    position: sticky;
    top: 0;
}
/*  PORTADA  */
header{
    height: 900px;
    color: #fff;
    border-top: solid rgb(190, 188, 188) 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh !important;
    background: url(..//img/kkkkkk.jpg) no-repeat center ;
    background-size: cover;
}



/* NOMBRE DEL TALLER */
.titulo{
    margin-top: 40px;
    font-size: 90px;
    font-weight: 600;
    text-transform: uppercase;
}



/*    INFORMACION DEL TALLER */
.contenedor-taller{
    width:100%;
    height: 600px;
    border-top: solid rgb(179, 175, 175) 8px;
    margin-bottom: 40px;
    display: flex;
}
.info-taller{
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* RECURSOS DEL TALLER */


/* section{
        height: 730px;
        display: flex;
        flex-wrap: wrap;
        justify-content:center ;
        margin: auto; 
        margin-bottom: 40px;
        margin-top: 40px;
        border: solid #BC4749 2px;
    }
    section .card{
        width: 530px;
        height: 330px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
    
    }
    
    section .card:hover{
        transform:translateY(-15px);
        box-shadow: 0 12px 16px rgba(255, 0, 0, 0.2);
    }
    
    section .card img{
        width: 330px;
        height: 220px;
    }
    section .card h1{
        font-weight: 600;
    
    }
    section .card p{
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300px;
    } */
   /*  INFORMACION DEL TALLERISTA */
    .inscribete{
/*     width: 100%; */
    height: 600px;
    display: flex;
    border: solid #BC4749 2px;
    }
    .tallerista{
    width: 50%;
    display: flex;
  /*   background-color: aqua; */
    justify-content: center;
    align-items: center;
    height: 100%;
    }
    .tallerista figure{
    position: relative;
    height: 550px;
    width: 650px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgb(0, 0, 0, 0.50) ;
    cursor: pointer;

    }
    .tallerista figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    }
    .tallerista figure .informacion-tallerista{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #BC4749;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    }
    .tallerista figure:hover > .informacion-tallerista{
    opacity: 1;
    visibility: visible;
    }
    .tallerista figure:hover > .informacion-tallerista h1{
    margin-top: 100px;
    margin-bottom: 45px;
    }
    .tallerista figure .informacion-tallerista h1{
    color: #fff;
    font-weight: 700;
    margin-bottom: 420px;
    transition: all 500ms ease-out;
    margin-top: 70px;
    }
    .tallerista figure .informacion-tallerista p{
    color: #fff;
    font-size: 45px;
    line-height: 1.5;
    width: 100%;
    max-width: 500px;
    margin: auto;
    }
/*     INFORMACION DEL TALLER */
    .registrate{
    font-size: 40px;                  
    width: 50%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  

}

    .registrate p{
    margin: 30px;
}
.registrate .btn1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn1{
    margin-top: 25px;
    border: 0;
    background-image: linear-gradient(
        150deg,
        hsl(97, 82%, 71%),
        rgb(7, 210, 0),
        #058f00
    );
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}
.btn1 span{
    background-color: #BC4749;
    padding: 16px 24px ;
    border-radius: 6px;
    transition: .3s;
}
.btn1:hover span{
    background: none;
}
.btn1:active{
    transform: scale(0.9);
}

/* HORARIO DE LAS CLASES */
    table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    }
    th, td{
    padding: 10px;
    }
    th {
    background-color: rgb(87, 173, 0);
    }
    h4{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 14ch;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
    
}
@keyframes typing{
    from { width: 0;}
}
@keyframes blink{
    50% { border-color: transparent;}
}
footer{
    background-color: rgb(46, 163, 0);
    text-align: center;
    padding-bottom: 20px;
    border-top: solid /* #D3D3D3 */ rgb(109, 109, 109) 8px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30PX;
}
