.original{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 50px 0;
}
.tget{
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    margin: 6px;


}
.tget img{
    width: 90%;
    height: 50%;
    object-fit: cover;
}
.original .tget h1{
    text-align: center;
    font-size: 1.9rem;
}
.original .tget p{
    text-align: center;
    font-size: 1.4rem;
}
.tget:hover{
    transform: scale(1.2);
}